
{% block sidebar %}
    <h3>Личный кабинет</h3>
    <img class="user-avatar" src="{{ user.photo.url }}" alt="{{ user.get_full_name }}">
    <p><b>{{ user.get_full_name }}</b></p>
    <p><span class="small">Классный руководитель:</span> <br>{{ user_group_manager.get_full_name }}</p>
    <ul>
        <li><a href="{% url 'student_lk' %}">Мои оценки</a></li>
        <li><a href="{% url 'teacher_list' %}">Школьные учителя</a></li>
    </ul>
    <hr>
    <p><b>Настройки:</b></p>
    <ul>
        <li><a href="{% url 'password_change' %}">Изменить пароль</a></li>
        <li><a href="{% url 'logout' %}">Выйти</a></li>
    </ul>
{% endblock %}