{% extends "base.html" %}

{% block title %}{{ teacher.position }} {{ teacher.family }} {{ teacher.name }}{% endblock %}

{% block content %}
    <h1>Информаци о сотруднике</h1>
    <div class="people-info ">
        <div class="people-photo-block">
             <img class="user-avatar" src="{{ user.photo.url }}" alt="{{ user.last_name }} {{ user.first_name }}">
        </div>

        <div class="people-info-block">
            <h3>{{ user.last_name }} {{ user.first_name }} {{ user.middle_name }}</h3>
            <p><i><u>Дата рождения:</u></i> {{ user.birth_date|date:"d.m.Y" }}</p>
            <p><i><u>Должность:</u></i> {{ user.teacher.position }} </p>

            <p><i><u>Руководит классом:</u></i> {{ user.teacher.group_manager.grade }}</p>
            <span class="small-font">Характеристика</span><hr>
            <p>{{ user.description }}</p>

            {% include "people/include/people_contact_info.html" %}

        </div>
    </div>
{% endblock %}