{% extends "base.html" %}

{% block title %}Восстановление пароля{% endblock %}

{% block sidebar %}
    <div style="background-color: #eff3f6"></div>
{% endblock %}

{% block content %}
    <div class="content account">
        <div class="login-form">
            <h3>Восстановление пароля:</h3>
            <p>Забыли пароль? Введите ниже свой адрес электронной почты,
                и мы пришлем вам инструкции по установке нового пароля.</p>
            <form method='post' action=''>
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Сбросить пароль</button>
            </form>
        </div>
    </div>
{% endblock %}