{% load static %}
{% load sidebar %}
{% load filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <title>{% block title %}Школьный журнал{% endblock %}</title>
</head>
<body>
    <div id="header"></div>
    {% block sidebar %}
        <div class="sidebar">
         {% if request.user.user_status == 'student' %}
             {% student_sidebar request.user %}
         {% else %}
             {% teacher_sidebar request.user %}
         {% endif %}
        </div>
    {% endblock %}

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <div id="footer"></div>
</body>
</html>